/* TEMPORARY STYLING DURING LAYOUT PHASE */
* {
	outline: 1px dotted #ddd;
}

/* --------------------- */
html {}
body {}
/* --CLASS STYLINGS-- */
.content-padding {
	width: 90%;
	margin: 0 auto;
}
/* -- ELEMENT STYLINGS -- */ 

/* -- <HEADER> STYLINGS -- */
header {
	/*background-color: #666;*/
}

header div.content-padding {
 padding: 20px 0;
}

header h1 {
	display: inline-block;
	width: 80%;
	margin: 0;
}

header nav {
	float: right;
}

header nav i.fa-bars {
	font-size: 32px;
}

header nav ul {
	display: none;
	list-style: none;
}
header nav ul li {}

/* -- <SECTION> STYLING -- */
section {
	text-align: center;
}
section div.content-padding {}

section div.add-item {}

section div.add-item input.add-item-text {
	width: 50%;
}
section div.add-item input.add-button {}

section ul {
	padding-left: 0;
	list-style: none;
	display: block;
	/*background-color: #eee;*/
}

section ul li {}
section ul li input.status-box {
	margin: 0 1%;
}

section ul li p {
	display: inline-block;
	width: 46%;
	margin: 1em auto;
	
}

section ul li i.remove-btn {

}
