/* TEMPORARY STYLING DURING LAYOUT PHASE */
* {
	/*outline: 1px dotted #ddd;*/
}

/* --------------------- */

html {}
body {}

/* --CLASS STYLINGS-- */

.content-padding {
	width: 90%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

/* -- ELEMENT STYLINGS -- */ 

/* -- <HEADER> STYLINGS -- */

header {
	background-color: #aaa;
}

header div.content-padding {
 padding: 20px 0;
}

header h1 {
	display: inline-block;
	width: 80%;
	margin: 0;
}

header nav {
	float: right;
}

header nav i.fa-bars {
	font-size: 32px;
}

header nav ul {
	display: none;
	list-style: none;
}

header nav ul li {}

/* -- <SECTION> STYLING -- */

section {
	text-align: left;
	text-align: center;
}
section div.content-padding {
	margin: 1.5em auto;
	max-width: 400px
}

section h3 {
	margin: 0;
}

section div.add-item {
	margin-top: 1.5em;
	margin-bottom: .5em;
	padding: 1%;
	display: flex;
}

section div.add-item input.add-item-text {
	width: 100%;
}

section div.add-item input.add-button {
	width: 50px;
}

section ul {
	padding-left: 0;
	list-style: none;
	margin: 0;
	text-align: left;
}

section ul li {
	padding: 1em 1%;
}

section ul li div.check-box {
	float: left;
}

section ul li p {
	display: inline-block;
	width: 60%;
	padding-left: 1%;
	margin: 0 auto;
}

section ul li i.remove-btn {
		float: right;
}


/* -- <LI> STYLING FOR INTERACTION -- */
li.checked {}
li.checked div.check-box {}
li.checked div.check-box i.fa-check-square-o {}
li.checked div.check-box i.fa-square-o {}
li.checked p {}
li.checked i.remove-btn {}

li.user-hover {}
li.user-hover div.check-box {}
li.user-hover div.check-box i.fa-check-square-o {}
li.user-hover div.check-box i.fa-square-o {}
li.user-hover p {}
li.user-hover i.remove-btn {}
	

/* ----------------------------------- */
